/* styles/styles.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: white;
}

.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left .nav-link {
  margin-right: 1rem;
}

.nav-right .nav-link {
  margin-left: 1rem;
}


.nav-link:hover {
  color: #007bff;
  /* Electric Blue */
}

a:visited {
  color: black;
}

img {
  display: block;
  margin-top: 20px;
}

/* About Section */
.about-section {
  padding: 2rem 0;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-photo img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
}

.about-text {
  max-width: 60%;
  font-size: 1.2rem;
}

/* Work Experience Box */
.work-experience {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.work-experience h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.work-experience p {
  font-size: 1rem;
  line-height: 1.5;
}

.highlight {
  color: #007bff;
  /* Electric Blue */
  font-weight: bold;
}

/* Carousel Styles */
.carousel-container {
  margin: 3rem 0;
  text-align: center;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Hides scrollbar in Firefox */
}

.carousel::-webkit-scrollbar {
  display: none;
  /* Hides scrollbar in Chrome, Edge, and Safari */
}


.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.carousel-item img {
  width: 300px;
  height: auto;
  border-radius: 15px;
}

.carousel-item p {
  margin-top: 0.0rem;
  font-size: 0.9rem;
}

/* Mission Statement Styles */
.mission-statement {
  margin: 2rem 0;
  padding: 1rem;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.mission-statement h2 {
  margin-bottom: 1rem;
}

.mission-statement p {
  font-size: 1.2rem;
}

/* Projects Section Styles */
.projects {
  margin: 3rem 0;
  text-align: center;
}

.projects h2 {
  margin-bottom: 1rem;
}

.projects p {
  font-size: 1rem;
  color: grey;
}